<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body style="background-color:#f1f1f1;font-family:Arial; font-size:11px">
    <center>
      <table width="860" style="border-spacing: 0.5em">
        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif;font-size:11px;width:100%;">
            <table width="100%">
              <tr>
                <td style="font-family:Arial, Helvetica, sans-serif;font-size:11px;width:90%;padding:10px">
                  <span style="font-family:Arial, Helvetica, sans-serif;font-size:22px;letter-spacing:-1pt;line-height:120%;color:rgb(255,128,0);text-align:left;">
                    CMA Ghost - Alerta &nbsp;
                  </span>

                  <span style="font-family:Arial, Helvetica, sans-serif;font-size:15px;letter-spacing:0pt;line-height:120%;color:#666;text-align:left; margin-left:20px;">
                    [ <strong>{{ current_datetime.strftime('%d/%m/%Y %H:%M:%S') }}</strong> ]
                  </span>
                </td>

                <td style="font-family:Arial, Helvetica, sans-serif;font-size:11px;letter-spacing:0pt;line-height:120%;color:rgb(68,68,68);text-align:left;width:10%;padding:10px">
                  <img src="https://cgcmd.globo.com/plat/images/em/em_logo_cron.png"/>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td colspan="2" style="font-family:Arial, Helvetica, sans-serif;font-size:11px; padding-top:10px; background-color: white; width: 100%;padding: 20px;" >
            <table border="0" cellspacing="0" cellpadding="0" width="100%">
              <thead>
                <tr>
                  <th style="text-align: center; font-size: 1.25em; padding: 10px 0;">
                    Resumo
                  </th>
                </tr>
              </thead>
              <tr>
                <td>
                  Ad units não encontrados: {{ report['ad units not found'] | length }}
                  <br>
                  Items criados: {{ report['commercial items created'] | length }}
                  <br>
                  Items corrigidos: {{ report['commercial items updated'] | length }}
                  <br>
                  <a href="{{ ad_units_url }}">Classificar ad units</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        {% if report['ad units not found'] %}
          <tr>
            <td colspan="2" style="background-color:white;padding:20px;">
              <style>
                table.tabela tr:nth-child(even) {
                  background-color: #f6f6f6;
                }
              </style>
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                  <tr>
                    <th style="text-align: center; font-size: 1.25em; padding: 10px 0;">
                      Ad Units não encontrados
                    </th>
                  </tr>
                </thead>
              </table>
              <table class="tabela" border="0" cellspacing="0" cellpadding="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;font-size:11px">
                <thead>
                  <tr>
                    <th style="text-align: center; padding: 10px 0 0; font-weight: bold; font-size: 1.25em; width: 30%">
                      Tenant
                    </th>
                    <th style="text-align: center; padding: 10px 0 0; font-weight: bold; font-size: 1.25em; width: 70%">
                      Estrutura
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for error in report['ad units not found'] %}
                    <tr>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ error.data['tenant'] }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ error.data['hierarchy_name'] }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
        {% endif %}

        {% if report['commercial items created'] %}
          <tr>
            <td colspan="2" style="background-color:white;padding:20px;"">
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                  <tr>
                    <th style="text-align: center; font-size: 1.25em; padding: 10px 0;">
                      Itens Criados
                    </th>
                  </tr>
                </thead>
              </table>
              <table class="tabela" border="0" cellspacing="0" cellpadding="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;font-size:11px">
                <thead>
                  <tr>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 10%">
                      Tenant
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 25%">
                      Estrutura
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 25%">
                      Ad Unit
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 10%">
                      Complemento Ad Unit
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 20%">
                      Ad Custom Data
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 10%">
                      Link
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in report['commercial items created'] %}
                    <tr>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.tenantId }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.hierarchy_name }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.ad_unit }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.complemento_ad_unit }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.ad_custom_data }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.tenantId }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
        {% endif %}

        {% if report['commercial items updated'] %}
          <tr>
            <td colspan="2" style="background-color:white;padding:20px;"">
              <table border="0" cellspacing="0" cellpadding="0" width="100%">
                <thead>
                  <tr>
                    <th style="text-align: center; font-size: 1.25em; padding: 10px 0;">
                      Itens Criados
                    </th>
                  </tr>
                </thead>
              </table>
              <table class="tabela" border="0" cellspacing="0" cellpadding="0" width="100%" style="font-family: Arial, Helvetica, sans-serif;font-size:11px">
                <thead>
                  <tr>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 10%">
                      Tenant
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 25%">
                      Estrutura
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 25%">
                      Ad Unit
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 10%">
                      Complemento Ad Unit
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 20%">
                      Ad Custom Data
                    </th>
                    <th style="text-align: center; padding: 10px 5px 0; font-weight: bold; font-size: 1.25em; width: 10%">
                      Link
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in report['commercial items updated'] %}
                    <tr>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.tenantId }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.hierarchy_name }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.ad_unit }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.complemento_ad_unit }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.ad_custom_data }}
                      </td>
                      <td style="text-align: center; padding: 5px 10px; font-size: 1.25em;">
                        {{ item.tenandId }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
          </tr>
        {% endif %}

        <tr>
          <td style="font-family:Arial, Helvetica, sans-serif;font-size:11px; padding-top:10px" >
            <table width="600">
              <tr>
                <td style="font-family:Arial, Helvetica, sans-serif;font-size:11px;width:10%;padding:10px" >
                  <img src="http://cgcmd.globo.com/plat/images/em/em_logo_plat.png"/>
                </td>

                <td style="font-family:Arial, Helvetica, sans-serif; font-size:11px; letter-spacing:0pt; line-height:120%;color:rgb(68,68,68); text-align:left; width:90%; padding:5px; padding-left:15px; border-left:1px solid #ccc">
                  Se por alguma raz&atilde;o isto n&atilde;o esteja sendo &uacute;til, por favor entre em contato conosco e compartilhe suas sugest&otilde;es atrav&eacute;s do e-mail

                  <a style="font-family:Arial, Helvetica, sans-serif;font-size:11px; letter-spacing:0pt; line-height:120%; color:rgb(255,146,38); text-align:left;" href="mailto:AJUDA-PLATAFORMAS@tvglobo.com.br">
                    AJUDA-PLATAFORMAS@tvglobo.com.br
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>